[submodule "vendor/kittyx"]
	path = vendor/kittyx
	url = https://github.com/kitty-crow/kittyx.git
[submodule "vendor/thistle-asm"]
	path = vendor/thistle-asm
	url = https://github.com/kitty-crow/thistle-asm.git
